.button{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 1px;
    color:rgb(4, 12, 11);
    /* font-style: ; */
}
.about{
    background: rgb(0, 140, 255);
    font-size: large;
   margin: 10vh;
   padding: 18vh;
   align-items: center;
   justify-content: center;
   border-radius: 70%;
   border: 2px solid blue;
   position: fixed;
   margin-left: 18vh;
}
.navigate{    
    font-size: 17px;
    border-bottom:1px solid blue ;
    background:linear-gradient(white,rgb(173,216,230));   
    
}
.card:hover{ 
    transition: 0.5s;
    box-shadow:0 0 20px 0px rgba(0,0,0,0.2) ;
    box-shadow: 8px 8px 15px black;
    background-color:lightgray;
    
}
.card{
    margin-top: 6%;
}